$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

/* Write your additonal styles below */

html, body {
  height: 100%;
  width: 100%;
}

#map-canvas {
  width:100%;
  height: 100%;
  background-color: #CCC;
}

#container {
  width: 100%;
  height: 100%;
}

#building-selector-panel {
  position: fixed;
  height: 330px;
  width: 200px;
  left: 15%;
  top: 2.7%;
  z-index: 3;
  background: #C9CFC2;
  opacity: 0.7;
  outline-width: thin;
}

#building-search {
  position: fixed;
  top: 5%;
  margin-left: 10px;
  margin-rigtht: 10px;
  opacity: 1;
  width: 180px;
  outline-width: medium;
}

.building-entry {
  
}